
<Ding Correct="_correct" Incorrect="_incorrect"/>
<div class="container-fluid">
    <h3><span>@Q.Operands.Item1</span> @(Q.Op == GameDataHelper.Op.Add ? '+' : '-') <span>@Q.Operands.Item2</span> = ?</h3>
    <h6>Answers:</h6>
    <HxButtonGroup>
        @foreach (var option in Q.Options!)
        {
            <HxButton OnClickStopPropagation="true" OnClickPreventDefault="true" Size="ButtonSize.Large" Text="@option.ToString()" Color="ThemeColor.Secondary" Outline="true" OnClick="() => IfWins(option, Q.Operands.Item3)"/>
        }
    </HxButtonGroup>
</div>

@code {
    [Parameter]
    public GameDataHelper.Game Q { get; set; }
    private bool _correct = false, _incorrect = false;

    private void IfWins(int answer, int check)
    {
        if (answer == check)
        {
            _correct = true;
        }
        else
        {
            _incorrect = true;
        }
    }

}