@page "/"
@inject GameDataHelper GameDataHelper
@inject NavigationManager NavigationManager


<div class="container" xmlns="http://www.w3.org/1999/html">
    <br/>
    <h1>Vihan Number Game!</h1>
    <br/>
    <h4>Your Score is : @_score / @NumberOfQuestions - Goal is @(Threshold * NumberOfQuestions)</h4>
    <br/>
    <HxButton OnClickPreventDefault="false" Color="ThemeColor.Success" Icon="BootstrapIcon.Award" OnClick="Refresh">Refresh!</HxButton>
    <br/>
    <br/>
    @if (_score > Threshold * NumberOfQuestions)
    {
        <iframe src="https://player.vimeo.com/video/59699220?h=c39a90bff1&autoplay=1" width="1300" height="731" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>&quot;Dance Contest&quot; &copy; 2013 is a cartoon I made with music by the very good Izaak Thompson (http://vonneumannarchitecture.bandcamp.com/)</p>
    }
    else
    {
        <div class="row">

            @foreach (var question in _game!)
            {
                <div class="col">
                    <br/>
                    <Question Q="question" DidAnswer="ResolveResult"/>
                    <br/>
                </div>
            }
        </div>
    }
</div>


@code{
    
    private const int NumberOfQuestions = 15;
    private const float Threshold = 0.6F;
    private const int Limit = 15;
    private const int NumberOfOtherQuestions = 4;
    
    private List<GameDataHelper.Game>? _game;
    private int _score;

    protected override void OnInitialized()
    {
        GameDataHelper.Setup(Limit, NumberOfOtherQuestions);
        _game = GameDataHelper?.MakeQuestion(NumberOfQuestions)?.ToList();
    }

    private void Refresh()
    {
        NavigationManager.NavigateTo("/", true);
    }

    private void ResolveResult(bool r)
    {
        if (r)
        {
            _score++;
        }
    }
}
