@page "/"
@inject GameDataHelper GameDataHelper
@inject NavigationManager NavigationManager


<div class="container" xmlns="http://www.w3.org/1999/html">
    <br/>
        <h1>Vihan Number Game!</h1>
    <br/>
    <div class="row">
        <div class="col">
            <h4>Your Score is : @_score / @NumberOfQuestions - Goal is @(Math.Floor(_threshold * NumberOfQuestions))</h4>
        </div>
        <div class="col">
            
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <HxSelect TItem="string"
                              TValue="string"
                              AutoSort="false"
                              Data="@_difficultyOptions"
                              Value="@_difficulty"
                              ValueExpression="() => _difficulty"
                              Nullable="false"
                              ValueChanged="SelectDifficulty"/>
                    
                </div>
                <div class="col">
                    <HxButton OnClickPreventDefault="false" Color="ThemeColor.Success" Icon="BootstrapIcon.Award" OnClick="Refresh">Refresh!</HxButton>
                </div>
                </div>
        </div>
    </div>
    <br/>
    <br/>
    @if (_score > _threshold * NumberOfQuestions)
    {
        <iframe src="https://player.vimeo.com/video/59699220?h=c39a90bff1&autoplay=1" width="1300" height="731" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>&quot;Dance Contest&quot; &copy; 2013 is a cartoon I made with music by the very good Izaak Thompson (http://vonneumannarchitecture.bandcamp.com/)</p>
    }
    else
    {
        <div class="row">

            @foreach (var question in _game!)
            {
                <div class="col">
                    <br/>
                    <Question Q="question" DidAnswer="ResolveResult"/>
                    <br/>
                </div>
            }
        </div>
    }
</div>


@code{
    
    private const int NumberOfQuestions = 20;
    private const int Limit = 15;
    private const int NumberOfOtherQuestions = 4;

    private string? _difficulty;
    private float _threshold = 0.55F;
    private List<GameDataHelper.Game>? _game;
    private int _score;
    private List<string>? _difficultyOptions;
    
    
    private void SelectDifficulty(string? difficulty)
    {
        _threshold = difficulty switch
        {
            "Super Easy" => 0.33F,
            "Easy" => 0.55F,
            "Medium" => 0.66F,
            "Difficult" => 0.88F,
            _ => 1.0F
        };
    }
    
    protected override void OnInitialized()
    {
        GameDataHelper.Setup(Limit, NumberOfOtherQuestions);
        _game = GameDataHelper?.MakeQuestion(NumberOfQuestions)?.ToList();
        _difficultyOptions = new List<string>{ "Super Easy", "Easy", "Medium", "Difficult" };
        _difficulty = "Easy";
    }

    private void Refresh()
    {
        NavigationManager.NavigateTo("/", true);
    }

    private void ResolveResult(bool r)
    {
        if (r)
        {
            _score++;
        }
    }
}
